@model Admin

@section Styles {
    <link href="~/css/Login.css" rel="stylesheet" />
}
<h2 style="font-weight: bold;font-size: xx-large; color: white;">Login</h2>
<script src="~/js/Login.js" asp-append-version="true"></script>
<div class="container_box">
    @using (Html.BeginForm("Login", "Employees", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Userid)
            @Html.TextBoxFor(m => m.Userid)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
        <div>
            Don't have an account? <a asp-action="Signup">Signup</a>
        </div>
    }
</div>